h1 {
    color: #333;
    margin: 5px;
    padding: 5px;
}

h2 {
    color: #333;
}

.button-container {
    margin-top: 15px;
}

button {
    margin: 10px;
    margin-top: 1em;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    color: #212529;
}
