<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Matthew</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container text-center">
        <h1 class="mb-4">Contact Matthew</h1>
        <p>Here is where Matthew's contact information will be displayed.</p>
        <button onclick="window.location.href='/'" class="btn btn-primary">Home</button>
    </div>
</body>
</html>
