<!DOCTYPE html>
<html>
<head>
    <title>Matthew's Homepage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
</head>
<body>
    <div class="container text-center">
        <h1>Hi, I'm Matthew. Welcome to MaltiOmics.</h1>
        <p>Here's my semi-professional website which I mostly use to experiment with web design.</p>
        <button onclick="window.location.href='/resume'">About me</button>
        <button onclick="window.location.href='/projects'">Projects</button>
        <button onclick="window.location.href='/misc'">Miscelaneous</button>
        <button onclick="window.location.href='/contact'">Contact Me</button>

    </div>

</body>
</html>
