<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: black;
            color: #0f9b0f;
            font-family: 'Consolas', monospace;
        }
        .ascii {
            white-space: pre;
            font-size: 14px;
            line-height: 1.2;
            visibility: hidden;
        }

        .matt_pace {
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div id="ascii-container">
        <!-- The ASCII art lines will be added here -->
    </div>

    <div class=matt_pace id="matt_pace">
        <pre>
                                  !YPGBB##&&&&&&&&&&&&&#####&&&&&&&&&####BB5!                       
                                 75G##&&&&&&&&&&&&&&&&&&&&&&&&&&&&##&&&#####BY~                     
                              ~ 7PB&&&&&&&&&&&&&&&&&&&&&&&&&&########&&#######Y                     
                              ~7P#&&&&&&&&&&&&&&&&@&&&&&###&&########&&&######B7                    
                             ~JG#&&&&&&&&&&&&&######&&&&&####&#&&&&#####&####B#P7                   
                            ~5##&&&&@&&&#BGGP5555555PPGBB#####&&&&&&&&######GGBGJ7~                 
                           !P#&&&&&&#BGP5YYYJJJJJJJJJJYYY5PPPBBBBB#&&&&&####BB#P!~                  
                        ~?5G##&&&&BP5YYJJJ??????????????JJJYYPGP5PGGP#&###&&##GY!                   
                        ?G###&&&#PYJJJ?????7777777777777777??JJ??JJ?JY5G&&&&&#G7                    
                       ?G######B5J??????77777777!!!!!!!!!!!!!!!!!!!7777?YB&&&&#Y                    
                      YB##B###GYJ??????77777777!!!!!!!!!!!!!!!!!!!!!!!!!!?B@&&&P~                   
                     ?#####&#GYJ???7777777777777!!!!!!!!!!!~!~~!!!!!!!!!!!7B&&#Y                    
                     5######G5J????7777777777!!!!!!!!!!!!!~~~~~~~~~!!!!!!!!?B&B?                    
                     P###&#B5J?????77777777!!!!!!!!!!!!!!~~~~!!~~!!!!!!!!!!!J#B~                    
                    !G#####5J????777???????????7777!!!!!!!!!~!!!~!!!!!!!!!!!!PG                     
                    7#####P?????JJYPGBBB#####BG5YP57!!!!!!!!~!!!!~!~~!!!!!!!!?P~                    
                   ~P####GJ7??J5GBBBBBBBBBBGGGBGPGP7!!!!!!!!!!!!!!!!!!!!!!!!!75!                    
                   7B####57??JYYYJJJJJ??JJJJYJJYYYY?7!!!!!!!!!!7JY5PGGPP5J7!!!5J                    
                   ?#&#&BJ??7J??JJJJJ??7??777?7~!??JYYJ????????YPGGBBB####B5?!Y7                    
                   ?B#BP5??7J57JJJJJYJJJ?????77!7JJJJJJ??JJJYYJ??7????JJJY55J7!                     
                 JJ?J5GPYJJ?5Y?JJJY55Y5P5YYJJJ?7?JJJ?777!!7?7!!7?????????JY5!::^^^^                 
                ~JJ?J?5BY???JJ?JJY5PPYJPBP5Y7JYJ?JJJJ?J7!???77??JJJJJ????7??^:::::!^                
                ^???JJYP?????7?JJJYY5YJY55Y??JJJ?JJJ???777??7?JYYPP5PYYYJ?7!:^ ^ ^~7                
                ^7??Y55Y???J77????JJJJJYYYYYYJJJYJJ?JJ?777?J7JYJJ5PP577J5J7~^^^~ !7!^               
                ^7??Y55J???Y77???????JJ?JJJJJ??JJJ?JY?7777?JJ?JJJJYJ?????7~:  ::  !                 
                ^~?JYJYY???JJ7?????????????????J??YYJ?7!!77?J?7????J???77!^:  :  ~^                 
                 ~7??JY5????????????????????????JYJJ?77!!777??777777777!!!::::::~~                  
                 ~!?JJYPJ??????????????7?????JJJYJJ??77!!7777?777777777!!~:::::~^                   
                 ~~!?JYG5J???????????????????JYYYJ??77!!!777777777777!!!!^:^^^^                     
                 ~~~7J?PG5J?????????????????JYYJJ?7777!!!!!7777777777!!!!!!                         
                 ~~~!?J5GPYJ???????????????JYYJ?JJ?777!!!!!!77777!!!!!!!!!!                         
                 ~~~~!!7GPYJJJ??????????????JYJYPGPY??777?YJ77777!!!!!!!!7                          
                  ~~~~~~5P5YYJJJ????????????JYY5GGP5YJJ?JY5Y?7777!!!!!!!77                          
                  ~~~~~~YB55YYYYJJ?JJJY55555PPPB##BGP5PPPGP5J??777!!!!!7J                           
                   ~~~~~7BG555555JJJ5GBBBBBBBB##&&#########BP55YJJ7!!7?J7                           
                   ~~~~~~JBGP5PP5YJYGGGBB#BBBB###&#BPGB####BBBBGGGJ77???                            
                   ~~~~~~~Y#BGPPPP5YPP55PPGGGGGGGGPP5YY5PGGGGGBGGPY?JY?                             
                    ~~~~~~~J#BGPPP5Y55YYYYY555555YYYYYYYYYYYYJJ5PYJY5Y                              
                    ~~~~~~~~JG#GP5YYYYYJJJJJYY555555YYYJJJJ??77?YJYPJ                               
                    ~~~~~~!!7J5BBG555YYJJJJJJY5PGGBBBBG5YJ?7777??Y57                                
                   ~~~~~~!!~7JJYPBBBGPYYJJJJJJY55PGPPP5JJ?7777?JY?                                  
                ~~~~~~~~~!!!?JJJJYP##GP5YJJJJJJJJYJJJ??777777Y5J                                    
    ~~       ~~~~~~~~~~~!!!7JJJJJJJYG#BGGPPPP55YYYYJYJJJ???J5P7                                     
~~~~~~ ~~~~~~~~~~~~~!~~!!!7?JJJJJJJJJ5G####BBGP55PGP55PP55P5J7                                      
~~~~~~~~~~~~~~~~~~!!~~7JYJJJJJ???JJJJJJ5PGB##BBGGGGBGGBBG5?77!                                      
~~~~~~~~~~~~~~~~!!!~~?P5YJJJJJJJ?????JJJJJY5PGGGGGGGGPYJ?7!!77!                                     
~~~~~~~!!!!!~~~~~~~~~PPYJJJJJ?JJJ?????JJJJJJJJJ???7777!!7777777~                                    </b>
</body>
</html>


                                  
</body>
</html>



    </pre>
        </div>

    <script>
        const asciiLines = [
            "\n\n██╗    ██╗███████╗██╗      ██████╗ ██████╗ ███╗   ███╗███████╗\n██║    ██║██╔════╝██║     ██╔════╝██╔═══██╗████╗ ████║██╔════╝\n██║ █╗ ██║█████╗  ██║     ██║     ██║   ██║██╔████╔██║█████╗  \n██║███╗██║██╔══╝  ██║     ██║     ██║   ██║██║╚██╔╝██║██╔══╝  \n╚███╔███╔╝███████╗███████╗╚██████╗╚██████╔╝██║ ╚═╝ ██║███████╗\n╚══╝╚══╝ ╚══════╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝\n\n",
            ">>> attributes = ['Matthew', 'a bioinformatician', 'from Malta',",
            "...               'living in Cambridge, UK', ", 
            "...               'employed with OrthoBio Therapeutics']",
            ">>> for attribute in attributes:",
            "...     print('I\\'m ' + attribute + '.')",
            "...\nI'm Matthew.\nI'm a bioinformatician.\nI'm from Malta.\nI'm living in Cambridge, UK.\nI'm employed with OrthoBio Therapeutics.\n>>>",
            ">>> me = open(/home/ubuntu/matt_pace.txt', 'r')",
            ">>> print(file.read(me))"
        
        ];
        const asciiContainer = document.getElementById('ascii-container');

        asciiLines.forEach((line, index) => {
            setTimeout(() => {
                const div = document.createElement('div');
                div.textContent = line;
                div.className = 'ascii';
                asciiContainer.appendChild(div);

                setTimeout(() => {
                    div.style.visibility = 'visible';
                }, 500);
            }, index * 500);
        });
        setTimeout(() => {
            var me = document.getElementById('matt_pace');
            asciiContainer.appendChild(me);        
            me.style.visibility = 'visible';
            }, 4500);

        // Make it central

        
    </script>
<div>>>></div>

<script>



</script>
</body>
</html>

