<!DOCTYPE html>
<html>
<head>
    <title>MaltiOmics</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
</head>
    {% extends "navbar.html" %}

    {% block content %}
    <p>- tSNE plot with my name/face
        
- disentegrate photo of my face and seperate pixels according to colour
- infinite monkey theorem
- memento mori
- spherical cow
- the butterfly effect
1. Hobbes' Leviathan
2. The Ship of Theseus
- The Infinite Hotel Paradox
1. Dunbar's Number: A theory proposed by anthropologist Robin Dunbar suggesting that there is a limit to the number of people with whom one can maintain stable social relationships—relationships in which an individual knows who each person is and how each person relates to every other person.
2. Braitenberg Vehicles: A thought experiment and a class of hypothetical vehicles presented by Valentino Braitenberg to examine the implications of simple sensors and motors in vehicles. These hypothetical vehicles have simple internal structures but they can exhibit quite complex behaviors, leading to debates about the nature of intelligence.
3. Sorites Paradox: A paradox that arises from vague predicates. A typical formulation involves a heap of sand, from which grains are individually removed. Under the assumption that removing a single grain does not turn a heap into a non-heap, the paradox is to consider what happens when the process is repeated enough times.
4. Moore's Law: The observation made by Gordon Moore, co-founder of Intel, that the number of transistors in a dense integrated circuit doubles approximately every two years. This has profound implications for technological growth and development.
5. The Peter Principle: An observation that the tendency in most organizational hierarchies, such as that of a corporation, is for every employee to rise in the hierarchy through promotion until they reach a level of respective incompetence.
6. Poe's Law: An adage of Internet culture stating that, without a clear indicator of the author's intent, it is impossible to create a parody of extreme views so obviously exaggerated that it cannot be mistaken by some readers for a sincere expression of the views being parodied.
7. Dogma of Molecular biology
- check programming art for ideas
- Idea: scroll a genome as my timeline like IGV
Karl Gaff
- Art pagliacci (computing art?)
3D proteins
3D scan head

        
        
        .</p>
    {% endblock %}
        
    
</body>
</html>
